*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-colum {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90vh;
}
@media screen and (max-width: 720px) {
  .hero {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 150%;
}
@media screen and (min-width: 1440px) {
  .svg-bg-home {
    width: 100%;
  }
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 72px;
  margin-bottom: 48px;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 8px;
  width: 40px;
  height: 40px;
  display: block;
}

.best {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  background-color: #F7F2FA;
}
@media screen and (max-width: 720px) {
  .best {
    flex-direction: column;
  }
}
.best::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 124px;
  height: 32px;
  background-image: url("../../svg/entail.svg");
  background-repeat: no-repeat;
}

.best-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  margin: 8px 0px;
}
@media screen and (max-width: 720px) {
  .best-item {
    justify-content: center;
    align-items: center;
  }
}

h1 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 720px) {
  h1 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 52px;
  line-height: 110%;
}
@media screen and (max-width: 720px) {
  h2 {
    font-family: "Sora", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 720px) {
  h3 {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #161617;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-size: 18px;
  line-height: 148%;
}
@media screen and (max-width: 720px) {
  h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    line-height: 120%;
    font-size: 16px;
    line-height: 150%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Sora", sans-serif;
}
@media screen and (max-width: 720px) {
  h5 {
    font-family: "Sora", sans-serif;
  }
}

p {
  color: #666566;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 720px) {
  p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 720px) {
  strong {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: #232224;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.9;
}

.btn {
  border-radius: 16px;
  background: linear-gradient(220.94deg, #A950C4 14.43%, #82269E 85.28%);
  padding: 12px 32px;
  color: #FEFBFF;
  transition: 0.3s ease;
  box-shadow: 0px 43px 60px rgba(169, 80, 196, 0.14), 0px 12.9632px 18.0882px rgba(169, 80, 196, 0.0912224), 0px 5.38427px 7.51293px rgba(169, 80, 196, 0.07), 0px 1.94738px 2.71728px rgba(169, 80, 196, 0.0487776);
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 18px 52px -16px rgba(252, 189, 56, 0.3);
}

.link {
  display: inline-block;
  color: #82269E;
  background-image: url("../../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 16px;
  position: relative;
  padding: 16px 16px 16px 40px;
}
.link::after {
  content: "";
  position: absolute;
  display: block;
  top: 75%;
  left: 56px;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s ease;
  background-color: #9C4FB4;
}
.link:hover {
  opacity: 0.8;
  padding-left: 64px;
  background-position: 8px 50%;
}
.link:hover::after {
  width: 100%;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mx-1 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-2 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-3 {
  margin-right: 48px;
  margin-left: 48px;
}

.mx-4 {
  margin-right: 72px;
  margin-left: 72px;
}

.mx-5 {
  margin-right: 128px;
  margin-left: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.px-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-3 {
  padding-right: 48px;
  padding-left: 48px;
}

.px-4 {
  padding-right: 72px;
  padding-left: 72px;
}

.px-5 {
  padding-right: 128px;
  padding-left: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #EDEAEF;
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: 0.5s ease;
  position: fixed;
  z-index: 999;
}

.active-header {
  background-color: #F7F2FA;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  height: 72px;
}

.navbar-desktop {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}
.logo svg {
  width: 100%;
  height: 100%;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-link-desktop::after {
  position: absolute;
  content: "";
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  border-bottom: 2px solid #82269E;
  border-right: 2px solid #82269E;
  transition: 0.2s linear;
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #FEFBFF;
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transition: 0.7s ease;
  opacity: 0;
  pointer-events: none;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #82269E;
  transition: 0.5s ease;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}
@media screen and (max-width: 720px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.bx::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.3s ease;
  background-color: #82269E;
}
.bx::before {
  content: "";
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  transition: 0.3s ease;
  background-color: #82269E;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
}
.active-bx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(135deg);
  transition: 0.3s ease;
  width: 70%;
  height: 2px;
  background-color: #82269E;
}
.active-bx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17%;
  transform: rotate(45deg);
  transition: 0.3s ease;
  width: 70%;
  height: 2px;
  background-color: #82269E;
}

.menu-mobile {
  width: 100%;
  height: 100vh;
  background-color: #F7F2FA;
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.crop-links {
  width: 48px;
}

.nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-list-mobile svg {
  height: 36px;
  width: 36px;
}
.nav-list-mobile svg path {
  stroke: #A6A6A7;
  transition: 0.7s ease;
}
.nav-list-mobile svg:hover path {
  stroke: #82269E;
}

.nav-link-mobile {
  display: inline-block;
  font-family: "Sora", sans-serif;
  font-size: 36px;
  line-height: 120%;
  color: #555456;
  padding: 16px 24px;
  position: relative;
}
.nav-link-mobile::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 1s ease;
  background-color: #A950C4;
}
.nav-link-mobile:hover {
  color: #82269E;
}
.nav-link-mobile:hover::after {
  width: 100%;
}

.dropshadow {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-check::after {
  background-image: url("../../svg/icon-check.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-check:hover::after {
  transform: scale(1.05);
}

.bg-icon-mobile::after {
  background-image: url("../../svg/icon-mobile.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-mobile:hover::after {
  transform: scale(1.05);
}

.bg-icon-card::after {
  background-image: url("../../svg/icon-card.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-card:hover::after {
  transform: scale(1.05);
}

.bg-icon-contactless::after {
  background-image: url("../../svg/icon-contactless.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-contactless:hover::after {
  transform: scale(1.05);
}

.bg-icon-arrow::after {
  background-image: url("../../svg/icon-arrow.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-arrow:hover::after {
  transform: scale(1.05);
}

.bg-icon-time::after {
  background-image: url("../../svg/icon-time.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-time:hover::after {
  transform: scale(1.05);
}

.bg-icon-config::after {
  background-image: url("../../svg/icon-config.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-config:hover::after {
  transform: scale(1.05);
}

.bg-icon-cash::after {
  background-image: url("../../svg/icon-cash.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-cash:hover::after {
  transform: scale(1.05);
}

.bg-icon-transfer::after {
  background-image: url("../../svg/icon-transfer.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-transfer:hover::after {
  transform: scale(1.05);
}

.bg-icon-phone::after {
  background-image: url("../../svg/icon-phone.svg");
  background-size: cover;
  transition: 0.5s ease;
  cursor: pointer;
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}
.bg-icon-phone:hover::after {
  transform: scale(1.05);
}

.icon {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.05);
}

.div-card {
  perspective: 550px;
  position: relative;
}

.card {
  width: 340px;
  height: 217.6px;
  border-radius: 12px;
  transform-origin: center center;
  transform-style: preserve-3d;
  z-index: -1;
  -webkit-animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
          animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear infinite alternate;
}

@-webkit-keyframes flip-card {
  0% {
    transform: rotateX(-10deg) rotatey(10deg) rotateY(-15deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
  }
}

@keyframes flip-card {
  0% {
    transform: rotateX(-10deg) rotatey(10deg) rotateY(-15deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(190deg) rotateY(10deg) rotateY(15deg);
  }
}
@-webkit-keyframes change-bg-card {
  0%, 49% {
    background-image: url("../../svg/nubank.svg");
    background-size: cover;
  }
  50%, 100% {
    background-image: url("../../svg/nubank-verse.svg");
    background-size: cover;
  }
}
@keyframes change-bg-card {
  0%, 49% {
    background-image: url("../../svg/nubank.svg");
    background-size: cover;
  }
  50%, 100% {
    background-image: url("../../svg/nubank-verse.svg");
    background-size: cover;
  }
}
.icon-crop {
  width: 72px;
  height: 72px;
}

.icon-card-hero {
  position: absolute;
  top: -20px;
  left: 380px;
  z-index: 200;
  -webkit-animation: icons-hero 7s ease 0.5s infinite alternate;
          animation: icons-hero 7s ease 0.5s infinite alternate;
}
@media screen and (max-width: 720px) {
  .icon-card-hero {
    left: 90px;
  }
}

.icon-contactless-hero {
  position: absolute;
  top: 300px;
  left: 520px;
  z-index: 200;
  -webkit-animation: icons-hero 7s ease 1s infinite alternate;
          animation: icons-hero 7s ease 1s infinite alternate;
}
@media screen and (max-width: 720px) {
  .icon-contactless-hero {
    top: 256px;
    left: 285px;
  }
}

.icon-mobile-hero {
  position: absolute;
  top: 95px;
  left: 73px;
  z-index: 200;
  -webkit-animation: icons-hero 7s ease 2.5s infinite alternate;
          animation: icons-hero 7s ease 2.5s infinite alternate;
}
@media screen and (max-width: 720px) {
  .icon-mobile-hero {
    top: 330px;
    left: 9px;
  }
}

@-webkit-keyframes icons-hero {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}

@keyframes icons-hero {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}
.bg-home-blur1 {
  transform: translate3d(0, -100px, 0);
}

.bg-home-blur2 {
  transform: translate3d(0, -100px, 0);
}

.bg-home-rect1 {
  -webkit-animation: bg-home-rect 3s ease 0s infinite alternate;
          animation: bg-home-rect 3s ease 0s infinite alternate;
}

.bg-home-rect2 {
  -webkit-animation: bg-home-rect 3s ease 0.5s infinite alternate;
          animation: bg-home-rect 3s ease 0.5s infinite alternate;
}

.bg-home-rect3 {
  -webkit-animation: bg-home-rect 3s ease 1s infinite alternate;
          animation: bg-home-rect 3s ease 1s infinite alternate;
}

.bg-home-rect4 {
  -webkit-animation: bg-home-rect 3s ease 1.5s infinite alternate;
          animation: bg-home-rect 3s ease 1.5s infinite alternate;
}

@-webkit-keyframes bg-home-rect {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}

@keyframes bg-home-rect {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30px, 0);
  }
}
.people1 {
  opacity: 0;
  -webkit-animation: people 10s ease 0s infinite;
          animation: people 10s ease 0s infinite;
}

.people2 {
  opacity: 0;
  -webkit-animation: people 10s ease 5s infinite;
          animation: people 10s ease 5s infinite;
}

.people3 {
  opacity: 0;
  -webkit-animation: people 10s ease 3s infinite;
          animation: people 10s ease 3s infinite;
}

.people4 {
  opacity: 0;
  -webkit-animation: people 10s ease 4s infinite;
          animation: people 10s ease 4s infinite;
}

.people5 {
  opacity: 0;
  -webkit-animation: people 10s ease 8s infinite;
          animation: people 10s ease 8s infinite;
}

.people6 {
  opacity: 0;
  -webkit-animation: people 10s ease 1s infinite;
          animation: people 10s ease 1s infinite;
}

@media screen and (max-width: 720px) {
  #people2 {
    display: none;
  }
}

@-webkit-keyframes people {
  0% {
    opacity: 0;
  }
  20%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}

@keyframes people {
  0% {
    opacity: 0;
  }
  20%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */